.photo-grid {
  margin-top: 92px;
  
  width: 90%;
  max-width: 1184px;
  min-width: 284px;
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: space-around;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    gap: 12px;
  }
}