.place__text {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  
  max-width: 484px;
  min-width: 288px;

  
}


@media screen and (max-width: 1025px) {
  
  .place__text  {
    margin-left: 32px;
    max-width: 456px;
  }
}

@media screen and (max-width: 928px) {
  .place__text {
    max-width: 352px;
    margin-left: 28px;
  }
}

@media screen and (max-width: 720px) {
  .place__text  {
    margin-left: 24px;
    max-width: 288px;
  }
}

@media screen and (max-width: 670px) {
  
  .place__text {
    margin-left: 0;
    max-width: 288px;
    margin-top: 32px;
  }
}
