.cover {
  margin-top: 92px;
  
  width: 100%;
  max-width: 1184px;
  min-width: 320px;
  
  max-height: 740px;
  
  display: flex;
}

@media screen and (max-width: 768px) {
  
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  
  .cover {
    margin-top: 66px;
  }
}