.place {
  width: 100%;
  max-width: 984px;
  min-width: 320px;
  
  margin-bottom: 80px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: center;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1025px) {
  
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 769px) {
  
  .place {
    margin-bottom: 73px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  
  .place {
    margin-bottom: 50px;
    justify-content: center;
    width: 90%;
  }
}