.place {
  width: 100%;
  max-width: 984px;
  min-width: 320px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  
  .place {
    margin-bottom: 73px;
    flex-direction: column;
  }

  .place:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  
  .place {
    margin-bottom: 50px;
  }

  .place:last-of-type {
    margin-bottom: 0;
  }
}