.footer {
  width: 90%;
  max-width: 1184px;
  min-width: 186px;
  margin-top: 92px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    flex-direction: column;
    align-items: flex-start;
  }
}