.intro__title {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 690px;
  min-width: 288px;
  text-align: left;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 690px) {
  
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}

/*Уменьшил все шрифты, чтобы текст не вылезал за пределы блока, тем самым создавая полосу прокрутки
Остальным шрифтам задал такие же стили, что привело к нормальному отображению контента на всех разрешениях
Наставник сказал, что данный метод является правильным.*/

